<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
      .navigation
      {
      	background-color: #eee;
      }
      .navigation ul
      {
      	list-style: none;

      }
      .navigation ul > li
      {
      	font-size: 18px;
      	
      }
	</style>
</head>
<body>
<nav class="navbar navbar-default">
  <h1 class="text-center">TODO</h1>
  
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="/myapp/add" class="btn btn-success">New Task</a>
			<a href="/myapp/view" class="btn btn-info">View</a>
		</div>
		
	</div>
</div>
</body>
</html>